.products {
  @include setWidthFull;
  @include setHeightWidth(auto, auto);
  padding: 0 16px;
  border-radius: 6px;

  &--list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;

    &--item {
      border-radius: 6px;
      background-color: $bg-white;

      & > .prdImg {
        @include setHeightWidth(auto, 100%);
        & > img {
          border-radius: 6px 6px 0 0;
          @include setHeightWidth(auto, 100%);
        }
      }

      .prdInfo {
        padding: 8px;

        &__title {
          @include setStyleFont(12px, normal);
          display: -webkit-box;
          -moz-box-orient: vertical;
          -webkit-line-clamp: 2;
          align-self: stretch;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-word;
          margin: 0;
          padding: 0;
        }

        &--stars {
          margin: 8px 0;
        }

        &--price {
          &__unitPrice {
            @include setStyleFont(16px, 600);
            margin: 0;
            padding: 0;
          }
          &--discountPrice {
            margin: 4px 0 0 0;
            padding: 0;
            & > .percent {
              @include setStyleFont(12px, 600);
            }
            & > .price {
              @include setStyleFont(10px, normal);
              text-decoration: line-through;
              color: #808089;
              margin-left: 6px;
            }
          }
        }
      }

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
        cursor: pointer;
      }
    }
  }
  
}