.sidebar {
  @include setHeightWidth(auto, 230px);
  padding: 12px 8px;
  border-radius: 4px;
  background: $bg-white;

  &--title {
    font-weight: 600;
  }

  &--list {
    @include setHeightWidth(auto, 100%);
    margin-top: 10px;

    &--item > a {
      @include setFlex(flex, center, '');
      gap: 8px;
      padding: 7px 16px;
      cursor: pointer;

      & > img {
        @include setHeightWidth(32px, 32px);
      }

      & > p {
        font-size: 14px;
        padding: 0;
        margin: 0;
        color: $color-primary;
      }
      &:hover {
        border-radius: 6px;
        background-color: $bg-hv-cate;
      }
    }
  }
}